* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loading-wrapp {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a; 
  z-index: 1000;

  .inner {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 45%;
    width: 3.5rem; 
    height: 6rem; 
    
    border: 4px solid #ffffff; 
    border-radius: 6px; 
    background: transparent; 
    
    &:after {
      content: "";
      position: absolute;
      top: -10px; 
      left: 50%;
      transform: translateX(-50%);
      
      display: block;
      width: 1.5rem;
      height: 6px;
      background: #ffffff; 
      border: none; 
      border-radius: 2px 2px 0 0; 
    }

    &:before {
      display: none;
    }

    .fill {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 2px; 
      
      background: #00ff88; 
      
      animation: battery-charge 2.5s infinite ease-in-out;
      
      &:after{
        display: none;
      }
    }
  }
}

@keyframes battery-charge {
    0% {
        top: 100%; 
        border-radius: 0 0 2px 2px;
        opacity: 0.5;
    }
    10% {
        top: 100%;
    }
    90% {
        top: 0%;
        border-radius: 2px;
        opacity: 1;
    }
    100% {
        top: 0%;
        opacity: 1;
    }
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}